---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ agentstack_db_vso_name }}
  namespace: {{ agentstack_namespace }}
spec:
  type: kv-v2
  mount: {{ openbao_kv_mount }}
  path: "{{ agentstack_db_openbao_path }}"
  destination:
    name: {{ agentstack_db_secret_name }}
    create: true
  vaultAuthRef: {{ agentstack_vault_auth_name }}
  refreshAfter: {{ agentstack_client_secrets_refresh_after }}
  hmacSecretData: true
